[package]
name = "walls-bot-rs"
version = "0.12.1"
authors = ["Harsh Shandilya <me@msfjarvis.dev>"]
edition = "2021"
license = "MIT/Apache-2.0"
description = "Telegram bot that scans a local filesystem for images and sends them to Telegram when commands are issued."
keywords = ["telegram", "bot"]
repository = "https://github.com/msfjarvis/walls-bot-rs"
homepage = "https://github.com/msfjarvis/walls-bot-rs"
readme = "README.md"
include = ["src/**/*", "LICENSE-*", "README.md"]
publish = false

[package.metadata.deb]
extended-description = "Telegram bot that scans a local filesystem for images and sends them to Telegram when commands are issued."
features = ["journald"]
priority = "optional"
depends = "$auto"

[features]
console = ["console-subscriber"]
journald = ["tracing-journald"]

[dependencies]
console-subscriber = { version = "0.1.6", optional = true }
dotenv = "0.15.0"
fastrand = "1.7.0"
imagesize = "0.9.0"
lazy_static = "1.4.0"
once_cell = "1.13.0"
regex = "1.6.0"
seahash = "4.1.0"
sled = "0.34.7"
teloxide = { version = "0.9.2", features = ["auto-send", "cache-me", "ctrlc_handler", "macros", "rustls"], default-features = false }
teloxide-core = { version = "0.6.3", features = ["auto_send", "cache_me", "rustls"], default-features = false }
tokio = { version = "1.20.0", features = ["rt-multi-thread", "macros"] }
tracing = "0.1.35"
tracing-journald = { version = "0.3.0", optional = true }
tracing-subscriber = { version = "0.3.14", features = ["env-filter"] }
walkdir = "2.3.2"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
