[package]
name = "walls-bot-rs"
version = "0.9.0"
authors = ["Harsh Shandilya <me@msfjarvis.dev>"]
edition = "2021"
license = "MIT/Apache-2.0"
description = "Telegram bot that scans a local filesystem for images and sends them to Telegram when commands are issued."
keywords = ["telegram", "bot"]
repository = "https://github.com/msfjarvis/walls-bot-rs"
homepage = "https://github.com/msfjarvis/walls-bot-rs"
readme = "README.md"
include = ["src/**/*", "LICENSE-*", "README.md"]

[package.metadata.deb]
extended-description = "Telegram bot that scans a local filesystem for images and sends them to Telegram when commands are issued."
priority = "optional"
depends = "$auto"

[features]
tracing = [ "console-subscriber" ]

[dependencies]
console-subscriber = { version = "0.1.6", optional = true }
dotenv = "0.15.0"
fastrand = "1.7.0"
imagesize = "0.9.0"
lazy_static = "1.4.0"
log = "0.4.17"
pretty_env_logger = "0.4.0"
seahash = "4.1.0"
sled = "0.34.7"
teloxide = { version = "0.9.1", features = ["auto-send", "cache-me", "ctrlc_handler", "macros", "rustls"], default-features = false }
tokio = { version = "1.19.1", features = ["rt-multi-thread", "macros"] }
walkdir = "2.3.2"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
